/* .nav{
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  z-index:100;
} */
.facultydashboard  li{

  display: inline-block;
  padding: 10px;
  margin-right: 0px;
  justify-content: center;
  font-size: 30px;
  padding: 30px;
}
.studentdashboard li{
  
  display: inline-block;
  padding: 10px;
  margin-right: 0px;
  justify-content: center;
  font-size: 30px;
  padding: 30px;

}


.nav-ul li{
   display: inline-block;
   padding: 10px;
}

.logo{
  width: 60px;
  float: left;
  border-radius: 30%;
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: 2px;;
}

/* h1{
  text-align: center;
} */

.forgot{
  margin-left: 85%;
}

.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul{
padding: 5px;
margin: 0px;
background-color: black;
/* position: fixed;
display: block; */
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: black;
}
.footer h3{
 color:#fff;
 text-align: center;
}

.container{

  display: flex;
  justify-content: center;
  width: 100%;
}

.register{
  
  /* border: 1px outset; */
  width: 30%;
  margin: 1rem;
  margin-left: 40rem;
  margin-top: 10rem;
  height: 40rem;
  padding: 1rem 5rem;
  box-shadow: 2px 2px 20px #95b7d9;
  border-radius: 20px;
}

.login {
text-align: center;
margin-top: 8rem;

}
.loginlabel{
  margin-bottom: 0;
text-align: center;
}

.forgot {
  color: black;
}

.inputbox{
  display: block;
  margin: 20px 0px;
  padding: 1rem;
  width: 100%;
  border: 1px solid skyblue;
  border-radius: 20px;
  outline: none;
  align-items: center;
}

#box1{
  margin-top: 2rem;
}

h3{

  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
}


label{
  font-size: 20px;
}

.button{
  margin: 25px 130px;
  padding: 1rem;
  width: 30%;
  align-items: center;
  border-color: skyblue;
  border: 1px solid;
  cursor: pointer;
  border: none;
  background-color: #1976d2;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 20px;
}

.heading{
  text-align: center;
  font-weight: 40px;
  font-size: 80px;
}

.table{
 margin-left: 0px;
 overflow:auto;
 margin-top: 10px;
}

.th{
  text-align: center;
}

td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.left_view h3{
font-size:  21px;
}

.left_view p{
  font-weight: 600;
}

.left_view span{
  font-weight: 200;
}

.right_view span{
  font-weight: 200;
} 

.add-btn{
  margin-bottom: 53px;
  margin-left: 75% ;
}

.size{
  box-shadow: 2px 2px 20px #95b7d9;
  margin-top: 20px;
  margin-left: 20%;
  width: 1100px;
}

.details{
  font-size: 100px;
  font-weight: 400;
  text-align: center;
}


.mern{
  font-size: 50px;
}

.course{
  box-shadow: 2px 2px 20px #95b7d9;
  font-size: 100px;
  color: blue;
  border:none;
  margin-left: 10% ;
  margin-bottom: 50px;
}


.box{
  margin-top: 10px;
}


/* tr:nth-child(even) {
  background-color: black;
} */

.box{
  width: auto;
  height: auto;
  display: inline-table;
}

/* .studentinput{
  /* position:absolute; */
  /* display: block;
  margin: 1px;
  padding: 3px;
  width: 300px;
  border: 1px solid skyblue; */


.studentinput{
  width: 70%;
}

.studentlabel{
  width: 40%;
}

.formbody{
  text-align: left;
  padding: 20px 10px;
}

.registerform{
  background-color: white;
  border-radius: 5px;
  width: auto;
  margin: 20px auto;
  padding: 20px;
}

.adminpanel{
  /* background-color: #61dafb; */
  margin-left: 0.03%;
  display: flexbox;
  
}

.bg{
  display: inline-block
}

/* <Row className='dispaly'> */
.dispaly{
  display: flex;
  margin: 0;
}

/* .adminpanel{
  display: flexbox;
} */

.change {
  width: 100%;
  /* display:inline-block; */
  /* height: 100vh;
  background-color: black; */

}

.colorchange button{
  border:black;
  background-color: black;
  color: #fff;
}


.radio{

     margin-top: 2rem;
     margin-bottom: 2rem;
}

.radio input{

 
  height: 1rem;
  border: 0px;
  width: 5%;
   
}

.radio span{

  font-size: 20px;
}

.cont{

  height: 100vh;
}

.box{

  width: 100%;
 
}

.course{

  width: 80%;
  color: black;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: sans-serif;
  border: none;
  border-radius: 2rem;
  margin-top: 2rem;
  text-shadow: 2px 2px 5px blue;
}









@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appbuton{
  text-align: center;
  margin: 25px;
  padding: 10px;
  width: 150px;
 cursor: pointer;

}

.signup{
  margin-left: 30%;
  padding:25px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
